<div class="container">
    <div class="divImage d-flex justify-content-center">
        <img src="../assets/Software.jpg"/>
    </div>
    <div class="divdescripcion d-flex justify-content-center">
        <div class="titulo d-flex justify-content-center">
            <h1 class=""> Perfil profesional</h1>
        </div>
        <div class="contend">
            <p>
                Profesional en tecnología con 4 años de experiencia en el desarrollo de software, con sólidos
                conocimientos en análisis funcional, aseguramiento de la calidad y desarrollo de soluciones
                tecnológicas. Cuento con experiencia conectando las necesidades del negocio con soluciones eficientes,
                confiables y orientadas a generar valor.<br>
            </p>
            <p>
                Experiencia en levantamiento y análisis de requerimientos, definición de historias de usuario y
                criterios de aceptación, diseño y validación de soluciones mediante mockups, prototipos y diagramas de
                flujo, así como en validación funcional y participación en la construcción de soluciones de
                software.<br>
            </p>
            <p>
                Amplio conocimiento en metodologías ágiles, gestión de proyectos y herramientas tecnológicas para la
                colaboración y gestión del ciclo de desarrollo, con capacidad para adaptarme rápidamente a entornos
                dinámicos y multidisciplinarios.<br>
            </p>
            <p>
                Mi enfoque combina visión de negocio, orientación a la calidad y conocimiento técnico, facilitando la
                comunicación y colaboración entre stakeholders y equipos de análisis, desarrollo y QA para transformar
                necesidades de negocio en soluciones de alto valor.
            </p>
        </div>
    </div>
</div>