<div class="titulo">
    <h1>Estudios y certificaciones</h1>
</div>

<div class="formacion-container">
    <section class="panel panel-academica">
        <h4>Formación académica</h4>

        <div class="info-item">
            <h6>Ingeniero de sistemas</h6>
            <p>Universidad del Cauca, diciembre de 2025, Popayán, Cauca.</p>
        </div>

        <div class="info-item">
            <h6>Técnico en sistemas</h6>
            <p>Sena, noviembre de 2013, San Agustín, Huila.</p>
        </div>

        <div class="info-item">
            <h6>Técnico en arquitectura de computadoras</h6>
            <p>Sena, noviembre de 2013, San Agustín, Huila.</p>
        </div>
    </section>

    <section class="panel panel-certificaciones">
        <h4>Certificaciones, diplomados y reconocimientos</h4>

        <div class="info-item">
            <p>Certificación: Spring Boot Development. Udemy. Enero 2024.</p>
        </div>

        <div class="info-item">
            <p>Certificación: Angular Development. Udemy. Octubre 2023.</p>
        </div>

        <div class="info-item">
            <p>Certificación: Power BI. Universidad del Cauca. Junio 2023.</p>
        </div>

        <div class="info-item">
            <p>Certificación: Scrum Fundamentals. SCRUMstudy. Julio 2023.</p>
        </div>

        <div class="info-item">
            <p>Certificación: Modelamiento y configuración de redes. Cisco Networking Academy. Agosto 2022.</p>
        </div>
    </section>
</div>