<div class="titulo d-flex justify-content-center">
    <h1 class="">Estudios y certificaciones</h1>
</div>

<div class="container">
    <div class="divInfoAcademic d-flex justify-content-center">
        <div class="c">
            <h4>Formación Académica</h4>
            <p style="margin-bottom: 0rem;">Ingeniero de sistemas</p>
            <p >
                Universidad del Cauca. <br>
                En proceso de trabajo de grado.
            </p>
            <p style="margin-bottom: 0rem;">Técnico en sistemas </p>
            <p>
                Sena <br>
                Noviembre de 2013. San Aguistín , Huila
            </p>
            <p style="margin-bottom: 0rem;">Técnico en arquitectura de computadoras</p>
            <p>
                Sena <br>
                Noviembre de 2013. San Aguistín , Huila
            </p>
        </div>
        
    </div>

    <div class="divOtrosCursos d-flex justify-content-center">
        <div class="contend">
            <div class="contendCursos">
                <h4>Certificaciones, diplomados y reconocimientos</h4>
                <p>
                    *Curso intensivo: Calidad en el desarrollo de software. En curso. Sena <br>
                    *Certificación: Analista de requerimientos de software. Namtrik development. febrero, 2023 <br>
                    *Certificación: Fundamentos SCRUM. SCRUMstudy. Agosto 2023. <br>
                    *Certificación: Tecnología de desarrollo Angular. Plataforma Udemy. Agosto 2023 <br>
                    *Certificación: Tecnología de desarrollo Spring Boot: Plataforma Udemy. Octubre 2023. <br>
                    *Curso: Power BI. DivTIC. Universidad del Cauca. <br>
                    *Curso: C# - Oracle. Universidad del Cauca. Julio 2019 <br>
                    *Curso: CCAN Introducció a redes, routing and switching.  Cisco Networking 
                    Academy®. Julio 2022. <br>
                    *Técnico: Arquitectura de computadoras. Sena. Noviembre 2013 <br>
                    *Técnico: Técnico en sistemas. Sena. Noviembre 2013.
            
            </p>

            </div>
            
            
        </div>
    </div>
</div>
