<div class="titulo d-flex justify-content-center">
    <h1 class="">Habilidades</h1>
</div>

<div class="container">
    <div class="divHpersonales d-flex justify-content-center">
        <div class="hPersonales">
            <h4 class="text-center">Personales</h4>
            <p>
                <strong>Responsabilidad:</strong> Compromiso con los objetivos, entregas y acuerdos establecidos, manteniendo el enfoque
                en la calidad y los resultados. <br>

                <strong>Creatividad e innovación:</strong> Capacidad para generar ideas y alternativas innovadoras frente a problemas y
                necesidades complejas. <br>

                <strong>Resolución de problemas:</strong> Capacidad para analizar problemas complejos, identificar sus causas y
                transformarlos en soluciones claras, eficientes y viables.<br>

                <strong>Pensamiento analítico:</strong> Capacidad para analizar información, requerimientos y escenarios, identificando
                oportunidades, riesgos y alternativas para facilitar la toma de decisiones. <br>

                <strong>Trabajo en equipo:</strong> Capacidad para colaborar con equipos multidisciplinarios, integrando diferentes
                conocimientos y perspectivas para alcanzar objetivos comunes. <br>

                <strong>Comunicación efectiva:</strong> Capacidad para transmitir ideas, requerimientos y soluciones de manera clara,
                facilitando la comunicación entre equipos técnicos, funcionales y de negocio. <br>

                <strong>Toma de decisiones:</strong> Capacidad para evaluar alternativas, riesgos y prioridades con el propósito de tomar
                decisiones oportunas y orientadas a resultados. <br>

                <strong>Liderazgo:</strong> Capacidad para orientar y coordinar equipos multidisciplinarios, promoviendo compromiso,
                colaboración y enfoque hacia los objetivos.<br>


            </p>
        </div>

    </div>

    <div class="divHTecnicas ">
        <div class="contend">
            <div class="hTecnicas">
                <h4 class="text-center">Técnicas</h4>
                <p>
                    <strong>Desarrollo:</strong> Java, JavaScript, TypeScript, SQL. <br>
                    <strong>Frameworks y librerías:</strong> Angular, Spring Boot, Bootstrap, Librerías de estilos. <br>
                    <strong>Bases de datos:</strong> Oracle, MySQL, PostgreSQL, MongoDB. <br>
                    <strong>Control de versiones:</strong> Git, GitHub. <br>
                    <strong>Metodologías ágiles:</strong> Scrum, Kanban. <br>
                    <strong>Herramientas de colaboración:</strong> Jira, Trello, Confluence, Slack, Azure DevOps <br>
                    <strong>Diseño y prototipado:</strong> Figma, Balsamiq, Adobe XD. <br>
                    <strong>Análisis y visualización de datos:</strong> Power BI, Power Builder (SSRS), Python (Pandas,
                    NumPy) <br>
                    <strong>Diagramas y modelado:</strong> UML, BPMN, BonitaSoft, Lucidchart, Draw.io. <br>
                    <strong>Documentación:</strong> Google Docs, Microsoft Office Suite, Confluence, Docmost, Dropbox. <br>
                    <strong>Pruebas y aseguramiento de la calidad:</strong> Selenium, JUnit, Postman, Swagger, SonarQube. <br>
            </div>
        </div>
    </div>
</div>