<div class="experiencia">
    <div class="titulo">
        <h1>Experiencias</h1>
    </div>

    <div class="experiencia-grid">
        <div class="experience-card">
            <div class="card">
                <div class="card-body">
                    <p class="timeDuration">Líder técnico y gestor de proyecto | Grandtek S.A.S | 03/2026 - 07/2026 </p>
                    <p class="functions">Funciones</p>
                    
                    <p>-Modelado de bases de datos y colaboración con la definición de la arquitectura del proyecto.</p>
                    <p>-Desarrollo de microservicios con el framework Spring Boot de Java.</p>
                    <p>-Desarrollo de componentes frontend con el framework Angular y tecnologías como TypeScript, JavaScript, CSS, Bootstrap y Material Design.</p>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="card">
                <div class="card-body">
                    <p class="timeDuration">Analista de datos | Q-Vision Technologies |  </p>
                    <p class="functions">Funciones</p>
                    
                    <p>*Levantamiento de requerimientos del cliente.</p>
                    <p>*Definición y especificación de requisitos.</p>
                    <p>*Refinación de historias de usuario.</p>
                    <p>*Elaboración de mockups y diseño de prototipos.</p>
                    <p>*Validación de prototipos e historias de usuario del software con el cliente.</p>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="card">
                <div class="card-body">
                    <p class="timeDuration">Analista QA | Q-Vision Technologies |  </p>
                    <p class="functions">Funciones</p>
                    
                    <p>*Levantamiento de requerimientos del cliente.</p>
                    <p>*Definición y especificación de requisitos.</p>
                    <p>*Elaboración de mockups, diseño y validación de prototipos del software.</p>
                    <p>*Modelado de procesos de la dependencia.</p>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="card">
                <div class="card-body">
                    <p class="timeDuration">Analista funcional | Q-Vision Technologies |  </p>
                    <p class="functions">Funciones</p>
                    
                    <p>*Creación y adaptación de scripts para el monitoreo de servidores con la herramienta Zabbix.</p>
                    <p>*Uso y manejo de la herramienta de control de DataCenter DCIM para mantener el control y monitoreo de la infraestructura.</p>
                    <p>*Establecer conexión y configuración con el sistema de monitoreo de redes Nagios para tener el control y monitoreo constante de la red.</p>
                    <p>*Implementación y adaptación de sistema de centralización y gestión de logs con la herramienta ELK Stack.</p>
                </div>
            </div>
        </div>

        <div class="experience-card">
            <div class="card">
                <div class="card-body">
                     <p class="timeDuration">Ingeniero de software | Universidad del cauca | </p>
                    <p class="functions">Funciones</p>
                    <p>*Investigación y soporte en tecnologías IoT para proyecto de gestión ambiental de la división.</p>
                    <p>*Levantamiento de requerimientos, definición de arquitectura y diseño de dashboard estadístico del sistema.</p>
                    <p>*Levantamiento de servicios en la nube para almacenamiento y monitoreo de la información.</p>
                </div>
            </div>
        </div>

         <div class="experience-card">
            <div class="card">
                <div class="card-body">
                     <p class="timeDuration">Analista funcional| Namtrik Dev | </p>
                    <p class="functions">Funciones</p>
                    <p>*Investigación y soporte en tecnologías IoT para proyecto de gestión ambiental de la división.</p>
                    <p>*Levantamiento de requerimientos, definición de arquitectura y diseño de dashboard estadístico del sistema.</p>
                    <p>*Levantamiento de servicios en la nube para almacenamiento y monitoreo de la información.</p>
                </div>
            </div>
        </div>
    </div>
</div>